@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  padding: 0px;
  margin: 0px;
  color: #d6d6d6;
}

body{
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to right top, #096d6d, #07162e);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  align-items: center;
}

.logo{
  width: 50px;
  margin-right: 5px;
}

h1{
  color: #ffffff;
  font-size: 30px;
}

.container{
  width: 500px;
  height: 450px;
  background-color: #4b4949;
  border-radius: 10px;
  border: 0px #11627a solid;
  
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group{
  height: 25px;
  margin-right: 0px;
  border: 1px #0d4252 solid;
  background-color: #031018;
  color: white;
}

.group-text{
  width: 85%;
}

.group-number{
  width: 15%;
}

.pets-contenedor {
  width: 400px;
}

.header__search{
  width: 90%;
  margin: 25px 15px;

  display: flex;
}

input:focus {
  background-color: rgb(2, 13, 20);
  border: 1px #05666d solid ;
}

::placeholder{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  }

.header__search input{
  box-sizing: border-box;
  height: 35px;
  border-radius: 0px;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding-left: 10px;
  color: #ffffff;
}


.boton{
  color: #949494;
  background-color: #073a49;
  border: 0px;
  width: 10%;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 700;
  outline: none;
}

.boton:hover{
  background-color: #0d4b6e;
  color: white;
}


b, h3, strong{
  color: white;
}